*{
	margin: 0;
	padding: 0;
}
.layer{
	/*width: 1140px;*/
	width:88%;
	margin: 0px auto 10px;
	overflow: hidden;
	box-shadow: 0px 1px 5px -2px black;
}
#about_us{
	background: #CAD9DB;
	padding: 30px 0px 10px;
}
#culture{
	background: #E4E9EC;
	
}
#development{
	background: #CAD9DB;
}
#team{
	background: #CAD9DB;	
	padding-bottom: 10px;
}
#environment{
	background: #C4D1DD;
}
#about_us_img{
	width: 35%;
	height: 300px;
	float: left;
	margin-left: 10%;
	background: url(../img/about1.jpg) no-repeat 0px 0px/100%;
	position: relative;
	overflow: hidden;
}
#about_us_img_backg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0,0,0,0.3);
}
#about_us_img_text{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin:auto;
	width: 50%;
	height: 60%;
	border: solid 5px #70C9FF;
}
#about_us_img_text h3{
	margin: 0px auto;
	margin-top: 20px;
	text-align:center;
	letter-spacing: 10px;
	font-size: 30px;
	color: white;
	font-family: "楷体";
}
#about_us_img_text h3:nth-child(3){
	letter-spacing: 5px;
}
#about_us_context{
	width: 40%;
	height: 300px;
	margin-right: 10%;
	float: right;
	overflow: hidden;
	padding-top: 20px;
	color: white;
	box-sizing: border-box;
}
#about_us_context p{
	font-size: 16px;
	font-family: "微软雅黑";
	letter-spacing: 2px;
	text-indent: 36px;
}
#about_us_dong{
	clear: both;
	width: 26%;
	margin: 0px auto;
	padding-top: 20px;
}
#team_text{
	height: 40px;
	line-height: 40px;
	letter-spacing: 2px;
	font-family: "楷体";
	font-size: 40px;
	text-align: center;
	margin: 10px auto;
	text-shadow: 0px 5px 5px #55AAFF;
	color: #0080FF;
}
#team_p{
	width: 45%;
	margin: 0px auto;
	line-height: 18px;
	letter-spacing: 2px;
	font-size: 18px;
	font-family: "楷体";
	text-align: center;
	overflow: hidden;
	color: #0080FF;
}
#team_context{
	width: 85%;
	overflow: hidden;
	margin: 10px auto;
}
.team_context_img{
	width: 30%;
	height: 300px;
	float: left;
	margin-left: 3%;
	margin-top: 10px;
}
.team_context_img_h{
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.team_context_img_t{
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	border: solid 1px #7553B5;
	box-shadow: 0px 1px 5px -2px #7553B5;
	text-align: center;
	font-size: 18px;
	background: #C1C8E4;
}
.fig{
	position: absolute !important;
	top: auto !important;
	bottom: 0px !important;
}
#environment_title{
	text-align: center;
	font-family: "楷体";
	font-size: 40px;
	letter-spacing: 2px;
	margin-top: 10px;
	color: #0080FF;
	text-shadow: 0px 5px 5px #55AAFF;
}
#environment_context{
	width: 90%;
	height: 600px;
	margin: 0px auto;
	position: relative;
}
.environment_context_img1,.environment_context_img2,.environment_context_img3{
	width: 24%;
	height: 250px;
	background: black;
	position: absolute;
	top: 20px;
	border: solid 4px #0077B5;
	overflow: hidden;
	box-sizing: border-box;
}
.environment_context_img4,.environment_context_img5,.environment_context_img6{
	width: 24%;
	height: 250px;
	position: absolute;
	top: 300px;
	border: solid 4px #0077B5;
	overflow: hidden;
	box-sizing: border-box;
}
.environment_context_img1,.environment_context_img4{
	left: 7%;
}
.environment_context_img2,.environment_context_img5{
	left: 38%;
}
.environment_context_img3,.environment_context_img6{
	left: 69%;
}
.en_img img,.en_img1 img{
	display: block;
	width: 100%;
	height: 100%;
}
.en_img:hover{
	top: 18px;
	transition: all 0.3s;
	box-shadow: 0px 0px 5px 0px #155684;
	border: solid 4px #00338D;
}
.en_img1:hover{
	top: 298px;
	transition: all 0.3s;
	box-shadow: 0px 0px 5px 0px #155684;
	border: solid 4px #00338D;
}
#culture_left{
	width: 48%;
	float: left;
	margin-left: 10%;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 20px;
}
#culture_right{
	width: 30%;
	float: right;
	margin-right: 10%;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 20px;
}
.culture_left_h3{
	font-family: "楷体";
	font-size: 40px;
	color: #0080FF;
	text-shadow: 0px 5px 5px #55AAFF;
}
.culture_left_p{
	width: 80%;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #666;
	text-indent: 32px;
}
#culture_right_context{
	width: 80%;
	background: #5783E6;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 5px 0px black;
	margin: 5px;
}
.culture_right_context_p{
	width: 80%;
	font-family: "微软雅黑";
	font-size: 24px;
	color: white;
	margin: 10px auto;
}
#culture_right_context_text{
	width: 40%;
	margin: 10px auto;
	text-align: center;
	border: solid 2px white;
	padding: 5px;
	font-size: 18px;
	color: white;
	border-radius: 20px;
}
#footer_text2{
	width: 100%;
	position: absolute;
	top: 48px;
	left: 0px;
	display: none;
}
#header_1_nav{
	position: absolute;
	top: 10px;
	right: 5px;
	width: 30px;
	height: 22px;
	display: none;
}
#header_1_nav p{
	height: 3px;
	background: white;
	margin-bottom: 6px;
	border-radius: 2px;
}
#header_1_nav_box{
	position: fixed;
	top: 40px;
	left: 0px;
	width: 100%;
	height: 100px;
	background: #055c92;
	z-index: 999;
	display: none;
}
#header_1_nav_box_oul{
	list-style: none;
}
#header_1_nav_box_oul li{
	width: 25%;
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	border-radius: 16px;
	background: rgba(0,0,0,0.6);
}
#header_1_nav_box_oul li a{
	color: white;
}
#header_1_nav_box_oul li:nth-child(5){
	width: 50%;
}
#header_1_nav_box_oul li:nth-child(6){
	width: 50%;
}
#header_logo_ul a{
	color: black;
}
.back_top{
	position: fixed;
	top: 85vh;
	right: 8px;
	width: 50px;
	height: 50px;
	font-size: 50px;
	display: none;
	color: blue;
}
/*发展历程*/
#development_h3{
    text-align: center;
    font-family: 楷体;
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: 10px;
    color: #0080FF;
    text-shadow: #55AAFF 0px 5px 5px;
}
#development_main{
	width: 95%;
	margin: 10px auto;
	position: relative;
}
#team_context .c4-izmir{
	--primary-color: #5F6D75;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.layer{
		width: 375px;
	}
	#header_oul_1 li:nth-child(1){
		display: none;	
	}
	#header_oul_2{
		display: none;
	}
	#header_oul_1{
		left: 50%;
		margin-left: -38px;
	}
	#header_1_box{
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 999;
	}
	#footer_img{
		display: none;
	}
	#footer_logo{
		top: 5px;
		left: 50%;
		margin-left: -21px;
	}
	#footer_text{
		display: none;
	}
	#footer_text2{
		display: block;
	}
	#footer_text2 p{
		font-size: 12px;
		color: #7f7f7f;
		text-align: center;
		margin-bottom: 0px;
	}
	#header_1_nav{
		display: block;
	}
	#header_logo{
		display: none;
	}
	#about_us_dong{
		width: 80%;
	}
	#about_us_img{
		width: 100%;
		height: 289px;
		float: none;
		margin-left: 0px;
	}
	#about_us_context{
		width: 90%;
		height: 410px;
		margin: 0px auto;
		float: none;
	}
	#about_us_img_text h3{
		margin-top: 10px;
	}
	#team_p{
		width: 90%;
	}
	.team_context_img{
		width: 90%;
		float: none;
		margin: 10px auto 0px;
	}
	.en_img{
		height: 100px;
	}
	.en_img1{
		height: 100px;
		top: 140px;
	}
	.en_img1:hover{
		top: 138px;
	}
	#environment_context{
		height: 300px;
	}
	#culture_left{
		width: 100%;
		float: none;
		margin-left: 0px;
	}
	.culture_left_h3{
		text-align: center;
	}
	.culture_left_p{
		margin: 0px auto;
	}
	#culture_right{
		width: 90%;
		float: none;
		margin: 30px auto 20px;
	}
	#culture_right_context{
		margin: 5px auto;
	}
	.culture_right_context_p{
		width: 72%;
	}
}