*{margin: 0;padding: 0;}
body{font-family: arial,"微软雅黑";font-size: 16px;}
a{text-decoration: none;color: black;}
#header_s{margin: 0 auto;width: 100%;position: relative;top: 0px;z-index: 999;background: white;border-bottom: solid 1px #ddd;}
#header_s li{list-style: none;}
#header_s a{text-decoration: none;}
#header_1_box{width: 100%;background: #055c92;height: 42px;}
#header_1{width: 1200px;height: 42px;margin: 0 auto; font-size: 14px;color: white;overflow: hidden;position: relative;}
#header_1 a:hover{color: dodgerblue;}
#header_oul_1{line-height: 14px;position: absolute;left: 0px;top: 14px;}
#header_oul_1 li{ height: 14px;float: left;}
#header_oul_1 li:nth-child(n+2){padding: 0px 10px;}
#header_oul_1 li:nth-child(n+3){border-left: solid 1px white;}
#header_oul_1 a{color:white;}
#header_oul_2{position: absolute;right: 0px;top: 14px;line-height: 14px;}
#header_logo{height: 80px;width: 1200px; margin:0 auto;position: relative;}
#dblogo{height: 60px;position: absolute;top: 12px;}
#header_logo_ul{position: absolute;top:28px;right: 0px;font-size: 18px;}
#header_logo_ul li{float: left;margin-left: 20px;}
#header_logo_ul a:hover{color: dodgerblue;}
#header_logo_li2{position: relative;}
#header_li2_hot{position: absolute;top: -16px;left: 60px;}
#header_logo_ul a:hover{color: dodgerblue;}
#kecheng_fenlei{position: absolute;left: 720px;top: 30px;height: 120px;display: none;z-index: 100;}
#kecheng_fenlei ul{background: #666;border: solid 1px white;margin-top: 30px;}
#kecheng_fenlei li{width: 80px;height: 30px;line-height: 30px;text-align: center;}
#kecheng_fenlei li:hover{background: #333;color: white;}
#kecheng_fenlei_li2{border-top: solid 1px white;border-bottom: solid 1px white;}
#box{width: 1200px;height: 400px;margin: 0 auto;position: relative;overflow: hidden;}
#box_img{width: 7200px;height: 400px;position: absolute;left: 0px;top: 0px;}
#box_img img{width: 1200px;height: 400px;float: left;}
#box2{width: 200px;height: 30px;position: absolute;left: 500px;bottom: 10px;text-align: center;line-height: 20px;}
#box2 span{width: 20px;height: 20px;border: solid 1px black;display: inline-block;border-radius: 50%;cursor: pointer;display: none;}
#left_btn{width: 20px;height: 30px;position: absolute;left: 0px;top: 185px;display: none;opacity: 0.5;cursor: pointer;}
#right_btn{width: 20px;height: 30px;position: absolute;right: 0px;top: 185px;display: none;opacity: 0.5;cursor: pointer;}
#footer{clear: both; height: 100px;width: 1200px;margin: 0 auto;border-top: solid 1px #ccc;position: relative;top: 30px;}
#footer_logo{height: 40px;position: absolute;top: 30px;left: 0px;}
#footer_text{width: 720px;height: 40px;position: absolute;top: 30px;left:160px ;font-size: 12px;line-height: 20px;}
#footer_img{height: 40px;width: 400px;position: absolute;right: 0px;top: 30px;}
#footer_img img{height: 30px;float: right;margin-left: 10px;}
#box{width: 1200px;height: 400px;margin: 0 auto;position: relative;overflow: hidden;}
#box_img{width: 7200px;height: 400px;position: absolute;left: 0px;top: 0px;}
#box_img img{width: 1200px;height: 400px;float: left;}
#box2{width: 200px;height: 30px;position: absolute;left: 500px;bottom: 10px;text-align: center;line-height: 20px;}
#box2 span{width: 20px;height: 20px;border: solid 1px black;display: inline-block;border-radius: 50%;cursor: pointer;display: none;}
#left_btn{width: 20px;height: 30px;position: absolute;left: 0px;top: 185px;display: none;opacity: 0.5;cursor: pointer;}
#right_btn{width: 20px;height: 30px;position: absolute;right: 0px;top: 185px;display: none;opacity: 0.5;cursor: pointer;}
#box_top{width: 50px;height: 50px;position: fixed;right: 12px;bottom: 10px;z-index: 999;display: none;}
#box_top_btn{font-size: 50px;color: #3688FF;transition: all 0.5s;}